AIRTABLE_APP_ID=aaa
AIRTABLE_API_KEY=bbb
AWS_ACCESS_KEY_ID=AAA
AWS_SECRET_ACCESS_KEY=BBB
DATABASE_NAME=basira
DATABASE_HOST=db
DATABASE_PASSWORD=basira
DATABASE_TEST_NAME=basira_test
DATABASE_USER=basira
ESLINT_NO_DEV_ERRORS=true
RAILS_ENV=development
REACT_APP_GOOGLE_MAPS_API_KEY=AIzzzzzz
REACT_APP_TYPESENSE_API_KEY=Lbk0000000
REACT_APP_TYPESENSE_COLLECTION_NAME=documents
REACT_APP_TYPESENSE_HOST=localhost
REACT_APP_TYPESENSE_PORT=8108
REACT_APP_TYPESENSE_PROTOCOL=http
S3_BUCKET_NAME=basira
SECRET_KEY_BASE=32983489234923984
TSC_COMPILE_ON_ERROR=true
TYPESENSE_API_KEY=xyz
TYPESENSE_COLLECTION_NAME=documents
TYPESENSE_HOST=localhost
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http
TYPESENSE_DATA_DIR=/data